.n-card{
	background-color: transparent;
}

.md-body, .github-markdown-body {
	z-index: inherit;
	padding: 0;

	.header-anchor {
		text-decoration: none;
		left: -2rem;
		line-height: inherit;
		visibility: hidden;
	}

	.language-mermaid{
		visibility: hidden;
		display: none;
	}

	hr{
		--tw-divide-y-reverse: 0;
		border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
		border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
		margin-top: 0rem;
		margin-bottom: 3rem;
	}

	li{
		list-style-type: circle;
		margin-left: 2.5rem;
	}

	h1{
		font-size: 2.5rem;
    line-height: 1.5;
		letter-spacing: 0.05em;
	}
	h2{
		font-size: 2rem;
    line-height: 1.5;
	}
	h3{
		font-size: 1.5rem;
    line-height: 1.5;
	}
	h4{
		font-size: 1rem;
    line-height: 1.5;
	}
	table{
		border-collapse: collapse;
		th,td{
			border: 2px #d4d4d8 solid;
			padding: 2px;
		}
	}

	h1,
	h2,
	h3,
	h4 {
		font-weight: 700;
		scroll-margin-top: 80px;
		position: relative;

		&:hover .header-anchor {
			/* display: block; */
			visibility: visible;
		}
	}
}

.dark .md-body, .dark .github-markdown-body {
	color: rgba(156, 163, 175);

	table{
		border-collapse: collapse;
		background-color: transparent;
		tr{
			background-color: transparent;
		}
		th,td{
			border: 2px #3F3F46 solid;
			padding: 2px;
			background-color: transparent;
		}
	}
	h1,
	h2,
	h3,
	h4 {
		color: rgba(203, 213, 225);
	}
}
